$primary-color: #ffe5fb;
$color1: #300049;
$color2: #4a0072;
$color3: #a71797;
$color4: #E8BFFB;
$color5: #5b084c;
$backcolorbright: rgb(255, 238, 255);
$backcolorCard: rgb(206, 189, 205);

$backgroundcolor:#D099E2;
$button1: #00838f;
$button2: #00695c;

$piechartX: #588061;
$piechartY:  #EFE8D8;


@mixin unique-gradient($color3, $color5, $direction: 360deg) { //is a metaliic 
    background: linear-gradient(
        $direction,
        $color3 0%,
        $color5 25%,
        $color3 50%,
        $color5 75%,
        $color3 100%,
        );
    }
    
    .bodycolor {
         @include unique-gradient($color3, $color5, $direction: 360deg );
    }
    .main_title {
        font-size: 50px;
        color: $primary-color;
    }
    .Main_Budget-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    // maybe put in different .scss "_form container"
   .User_income-container {
    font-size: 25px;
    border: $backcolorbright solid 10px;
    border-radius: 23px;
    padding: 20px 20px;
    background-color: $color4;
    margin: 10px;
    width: 500px;
 #UserInputDescription {
    padding: 10px;
    margin: 8px;
    border-radius: 23px;
    color: $color1;
    font-size: 20px;
 }
 #UserInputAmount {
    padding: 10px;
    margin: 8px;
    border-radius: 23px;
    color: $color1;
    font-size: 20px;
 }

 .SubmitIncome {
    background-color: $color2;
    margin: 8px;
    padding: 15px;
    font-size: 15px;
    font-weight: 20px;
    color: $color4;
    border: $color3 solid 2px;
    border-radius: 23px;
    cursor: pointer;
 }
 .SubmitIncome:hover {
    background-color: $button2;
    border: $button1 solid 2px;
    font-size: 18px;
}
}


 //  expense container

    .User_expenses-container {
    border: $backcolorbright solid 10px;
    border-radius: 23px;
    padding: 20px 20px;
    font-size: 25px;
    background-color: $color4;
    margin: 10px;
    width: 500px;
    #expense-description {
    padding: 10px;
    margin: 8px;
    color: $color1;
    border-radius: 23px;
    font-size: 20px;
    }
    #expense-amount {
    padding: 10px;
    margin: 8px;
    color: $color1;
    border-radius: 23px;
    font-size: 20px;
    }
    .SubmitExpense {
    background-color: $color2;
    padding: 15px;
    margin: 8px;
    font-size: 15px;
    font-weight: 20px;
    color: $color4;
    border: $color3 solid 2px;
    border-radius: 23px;
    cursor: pointer;   
    }
    .SubmitExpense:hover {
    background-color: $button2;
    border: $button1 solid 2px;
    font-size: 18px;   
    }
    }
    // end of form container

    // total budget sectiion
    .TotalBudget-Summary {
        border: $backcolorbright solid 10px ;
        border-radius: 23px;
        font-size: 40px;
        padding: 20px 20px ;
        margin: 10px;
        background-color: $color4;
        width: 500px;
        #summaryOfTotal-income {
            margin: 30px;
        }
        #summaryOfTotal-expenses {
            margin: 30px;
        }
        #summaryOfTotal-budget {
            margin: 30px;
        }
    }
    

    // end total budget sectioin

    // chart area
    .chart-area {
        border: $backcolorbright solid 10px;
        border-radius: 23px;
        padding: 20px 20px;
        background-color: $color4;
        color: $color1;
        // font-size: 25px;
    }
    .chart-area {
        height: 500px;
        width: 500px;
        margin: 10px;
    }
    .footer-container {
        background-color: $color3;
        margin-top: 25px;
        color: $color4;
        padding: 15px;
        border: 5px $color5 solid;

    }
    

   